{% set backupninja = salt['grains.filter_by']({
    'Debian': {
        'backup_base_dir': '/var/backups',
        'disable_default_backup_states': False,
        'duplicity': {
          'enabled': True,
          'keep': '60',
          'password': 'override_this_password',
          'override_desturl': '',
          's3bucket': '',
          'awsaccesskeyid': '',
          'awssecretaccesskeyid': '',
          'includes': [
            '/var/spool/cron/crontabs',
            '/var/backups',
            '/etc',
            '/root',
            '/var/lib/dpkg/status*',
            '/var/log',
            '/data',
          ],
          'excludes': [],
          'hourly': {
            'keep': '5',
            'enabled': False,
            'override_desturl': '',
            'includes': [],
            'excludes': []
          }
        }
    },
    'default': 'Debian',
}, merge=salt['pillar.get']('backupninja',{})) %}

